---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import BestAudioGear from "@/components/BestAudioGear.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Audiophile e-commerce website.">
  <!-- The Header -->
  <Header />
  <!-- The Main Body -->
  <main>
    <!-- Intro Headphones Products-->
    <section
      class="xl:h-15rem[] flex h-[6.44rem] w-[100%] items-center justify-center bg-black leading-[2.75rem] md:h-[15.44rem] md:text-[2.5rem] md:tracking-[0.08931rem]"
    >
      <h1
        class="text-[1.75rem] font-bold uppercase leading-normal tracking-[0.125rem] text-white"
      >
        Headphones
      </h1>
    </section>
    <!-- XX99 Mark II Headphones -->
    <section
      class="mx-6 mb-[7.5rem] mt-16 flex flex-col items-center justify-center gap-8 md:ml-[2.44rem] md:mr-10 md:mt-[7.5rem] md:gap-9 xl:mx-[10.31rem] xl:mb-40 xl:mt-40 xl:flex-row xl:justify-between"
    >
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/assets/shared/desktop/image-xx99-mark-two-headphones.jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="/assets/shared/mobile/image-xx99-mark-two-headphones.jpg"
        />
        <img
          src="/assets/shared/tablet/image-xx99-mark-two-headphones.jpg"
          alt="Photo of XX99 Mark II Headphones"
          class="h-[22rem] w-[20.4375rem] rounded-lg object-cover md:w-[43.0625rem] xl:h-[35rem] xl:w-[33.75rem]"
        />
      </picture>
      <div
        class="flex flex-col items-center justify-center gap-6 text-center md:gap-4 xl:items-start xl:justify-start xl:text-left"
      >
        <h2
          class="unpercase text-sm font-normal leading-normal tracking-[0.625rem] text-[#D87D4A]"
        >
          New product
        </h2>
        <h2
          class="w-[20.4375rem] text-[1.75rem] font-bold uppercase leading-normal tracking-[0.0625rem] text-black md:mb-4 md:w-[35.75rem] md:text-[2.5rem] md:leading-[2.75rem] md:tracking-[0.08931rem] xl:w-[27.8125rem]"
        >
          XX99 Mark II Headphones
        </h2>
        <p
          class="w-[20.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50 md:mb-2 md:w-[35.75rem] xl:mb-4 xl:w-[27.8125rem]"
        >
          The new XX99 Mark II headphones is the pinnacle of pristine audio. It
          redefines your premium headphone experience by reproducing the
          balanced depth and precision of studio-quality sound.
        </p>
        <a
          href="/product-xx99-mark-two-headphones"
          class="flex h-12 w-40 cursor-pointer items-center justify-center bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-white transition-colors duration-300 ease-in hover:bg-[#FBAF85]"
          >See product</a
        >
      </div>
    </section>
    <!-- XX99 Mark I Headphones -->
    <section
      class="mx-6 mb-[7.5rem] flex flex-col items-center justify-center gap-8 md:ml-[2.44rem] md:mr-10 md:gap-9 xl:mx-[10.31rem] xl:mb-40 xl:flex-row-reverse xl:justify-between"
    >
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/assets/shared/desktop/image-xx99-mark-one-headphones.jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="/assets/shared/mobile/image-xx99-mark-one-headphones.jpg"
        />
        <img
          src="/assets/shared/tablet/image-xx99-mark-one-headphones.jpg"
          alt="Photo of XX99 Mark I Headphones"
          class="h-[22rem] w-[20.4375rem] rounded-lg object-cover md:w-[43.0625rem] xl:h-[35rem] xl:w-[33.75rem]"
        />
      </picture>
      <div
        class="flex flex-col items-center justify-center gap-6 text-center md:gap-4 xl:items-start xl:justify-start xl:text-left"
      >
        <h2
          class="w-[20.4375rem] text-[1.75rem] font-bold uppercase leading-normal tracking-[0.0625rem] text-black md:mb-4 md:w-[35.75rem] md:text-[2.5rem] md:leading-[2.75rem] md:tracking-[0.08931rem] xl:w-[27.8125rem]"
        >
          XX99 Mark I Headphones
        </h2>
        <p
          class="w-[20.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50 md:mb-2 md:w-[35.75rem] xl:mb-4 xl:w-[27.8125rem]"
        >
          As the gold standard for headphones, the classic XX99 Mark I offers
          detailed and accurate audio reproduction for audiophiles, mixing
          engineers, and music aficionados alike in studios and on the go.
        </p>
        <a
          href="/product-xx99-mark-one-headphones"
          class="flex h-12 w-40 cursor-pointer items-center justify-center bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-white transition-colors duration-300 ease-in hover:bg-[#FBAF85]"
          >See product</a
        >
      </div>
    </section>
    <!-- XX59 Headphones -->
    <section
      class="mx-6 mb-[7.5rem] flex flex-col items-center justify-center gap-8 md:ml-[2.44rem] md:mr-10 md:gap-9 xl:mx-[10.31rem] xl:mb-40 xl:flex-row xl:justify-between"
    >
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/assets/shared/desktop/image-xx59-headphones.jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="/assets/shared/mobile/image-xx59-headphones.jpg"
        />
        <img
          src="/assets/shared/tablet/image-xx59-headphones.jpg"
          alt="Photo of XX99 Mark I Headphones"
          class="h-[22rem] w-[20.4375rem] rounded-lg object-cover md:w-[43.0625rem] xl:h-[35rem] xl:w-[33.75rem]"
        />
      </picture>
      <div
        class="flex flex-col items-center justify-center gap-6 text-center md:gap-4 xl:items-start xl:justify-start xl:text-left"
      >
        <h2
          class="w-[20.4375rem] text-[1.75rem] font-bold uppercase leading-normal tracking-[0.0625rem] text-black md:mb-4 md:w-[35.75rem] md:text-[2.5rem] md:leading-[2.75rem] md:tracking-[0.08931rem] xl:w-[27.8125rem]"
        >
          XX59 Headphones
        </h2>
        <p
          class="w-[20.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50 md:mb-2 md:w-[35.75rem] xl:mb-4 xl:w-[27.8125rem]"
        >
          Enjoy your audio almost anywhere and customize it to your specific
          tastes with the XX59 headphones. The stylish yet durable versatile
          wireless headset is a brilliant companion at home or on the move.
        </p>
        <a
          href="/product-xx59-headphones"
          class="flex h-12 w-40 cursor-pointer items-center justify-center bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-white transition-colors duration-300 ease-in hover:bg-[#FBAF85]"
          >See product</a
        >
      </div>
    </section>
    <!-- Best Audio Gear -->
    <BestAudioGear />
  </main>
  <!-- The Footer -->
  <Footer />
</Layout>
