---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Audiophile e-commerce website.">
  <!-- The Header -->
  <Header />
  <main></main>
</Layout>
