---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import BestAudioGear from "@/components/BestAudioGear.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Audiophile e-commerce website.">
  <!-- The Header -->
  <Header />
  <!-- The Main Body -->
  <main>
    <!-- Go Back Link -->
    <section
      class="mx-6 mb-6 mt-4 md:mr-[2.44rem] md:mt-[2.06rem] xl:mb-14 xl:ml-[10.31rem] xl:mt-[4.94rem]"
    >
      <a
        href="/"
        class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50"
        >Go Back</a
      >
    </section>
    <!-- XX99 Mark II Headphones -->
    <section
      class="mx-6 mb-[5.5rem] flex flex-col-reverse gap-8 md:mb-[7.5rem] md:ml-[2.44rem] md:mr-10 md:flex-row-reverse md:justify-between md:gap-[4.34rem] xl:mx-[10.31rem] xl:mb-40 xl:gap-[7.81rem]"
    >
      <div class="flex flex-col gap-6 md:gap-4">
        <h2
          class="unpercase text-sm font-normal leading-normal tracking-[0.625rem] text-[#D87D4A] md:mb-[0.6rem]"
        >
          New product
        </h2>
        <h2
          class="w-[11.438rem] text-[1.75rem] font-bold uppercase leading-normal tracking-[0.0625rem] text-black md:mb-4 md:w-[17.188rem] md:text-[2.5rem] md:leading-[2.75rem] md:tracking-[0.08931rem] xl:w-[16.813rem]"
        >
          ZX9 SPEAKER
        </h2>
        <p
          class="w-[20.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50 md:mb-4 md:w-[21.1875rem] xl:mb-4 xl:w-[27.8125rem]"
        >
          Upgrade your sound system with the all new ZX9 active speaker.
          It&#39;s a bookshelf speaker system that offers truly wireless
          connectivity -- creating new possibilities for more pleasing and
          practical audio setups.
        </p>
        <h3
          class="mb-[0.94rem] text-xl font-bold uppercase leading-normal tracking-[0.08038rem] text-black md:mb-[0.94rem] xl:mb-[1.94rem]"
        >
          $ 4,500
        </h3>
        <div class="flex gap-4">
          <!-- Add/Remove Product Counter -->
          <div
            class="flex h-12 w-[7.5rem] items-center justify-between bg-[#F1F1F1] px-[0.94rem]"
          >
            <button
              id="removeProduct"
              type="button"
              class="text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-black/25"
            >
              -
            </button>
            <button
              id="productCount"
              type="button"
              class="text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-black/25"
            >
              1
            </button>
            <button
              id="addProduct"
              type="button"
              class="text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-black/25"
            >
              +
            </button>
          </div>
          <!-- Add To Cart -->
          <div class="">
            <button
              id="addToCart"
              type="submit"
              class="h-12 w-40 bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-white transition-colors duration-300 ease-in hover:bg-[#FBAF85]"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /assets/product-zx9-speaker/desktop/image-product.jpg
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /assets/product-zx9-speaker/tablet/image-product.jpg
          "
        />
        <img
          src="/assets/product-zx9-speaker/mobile/image-product.jpg"
          alt=" XX99 Mark II Headphones"
          class="rounded-lg object-cover xl:h-[35rem] xl:w-[33.75rem]"
        />
      </picture>
    </section>
    <!-- Features & Includes -->
    <section
      class="mx-6 mb-[5.5rem] flex flex-col gap-[5.5rem] md:mb-[7.5rem] md:ml-[2.44rem] md:mr-10 md:gap-[7.5rem] xl:mx-[10.31rem] xl:mb-40 xl:flex-row xl:items-start xl:justify-between"
    >
      <!-- Features -->
      <div class="flex flex-col gap-8">
        <h2
          class="text-2xl font-bold uppercase leading-9 tracking-[0.05356rem] text-black"
        >
          Features
        </h2>
        <p
          class="w-[20.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50 md:w-[43.0625rem] xl:w-[39.6875rem]"
        >
          Connect via Bluetooth or nearly any wired source. This speaker
          features optical, digital coaxial, USB Type-B, stereo RCA, and stereo
          XLR inputs, allowing you to have up to five wired source devices
          connected for easy switching. Improved bluetooth technology offers
          near lossless audio quality at up to 328ft (100m).
        </p>
        <p
          class="w-[20.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50 md:w-[43.0625rem] xl:w-[39.6875rem]"
        >
          Discover clear, more natural sounding highs than the competition with
          ZX9&#39;s signature planar diaphragm tweeter. Equally important is its
          powerful room-shaking bass courtesy of a 6.5” aluminum alloy bass
          unit. You&#39;ll be able to enjoy equal sound quality whether in a
          large room or small den. Furthermore, you will experience new
          sensations from old songs since it can respond to even the subtle
          waveforms.
        </p>
      </div>
      <!-- Includes -->
      <div class="flex flex-col gap-6 md:flex-row xl:flex-col xl:gap-8">
        <h2
          class="w-[20.4375rem] text-2xl font-bold uppercase leading-9 tracking-[0.05356rem] text-black"
        >
          In the box
        </h2>
        <div class="">
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50"
          >
            <span class="mr-[1.31rem] text-[#D87D4A]">2x</span> Speaker Unit
          </h3>
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50"
          >
            <span class="mr-[1.31rem] text-[#D87D4A]">2x </span> Speaker Cloth Panel
          </h3>
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50"
          >
            <span class="mr-6 text-[#D87D4A]">1x</span> User manual
          </h3>
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50"
          >
            <span class="mr-6 text-[#D87D4A]">1x</span> 3.5mm 10m audio cable
          </h3>
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50"
          >
            <span class="mr-6 text-[#D87D4A]">1x</span> 10m Optical Cable
          </h3>
        </div>
      </div>
    </section>
    <!-- Product Photos -->
    <section
      class="mx-6 mb-[5.5rem] flex flex-col gap-4 md:mb-[7.5rem] md:ml-[2.44rem] md:mr-10 md:flex-row md:justify-between xl:mx-[10.31rem] xl:mb-40 xl:gap-8"
    >
      <div class="flex flex-col gap-4 xl:gap-8">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /assets/product-zx9-speaker/desktop/image-gallery-1.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /assets/product-zx9-speaker/tablet/image-gallery-1.jpg
            "
          />
          <img
            src="/assets/product-zx9-speaker/mobile/image-gallery-1.jpg"
            alt=""
            class="rounded-lg"
          />
        </picture>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /assets/product-zx9-speaker/desktop/image-gallery-2.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /assets/product-zx9-speaker/tablet/image-gallery-2.jpg
            "
          />
          <img
            src="/assets/product-zx9-speaker/mobile/image-gallery-2.jpg"
            alt=""
            class="rounded-lg"
          />
        </picture>
      </div>
      <div class="">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /assets/product-zx9-speaker/desktop/image-gallery-3.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /assets/product-zx9-speaker/tablet/image-gallery-3.jpg
            "
          />
          <img
            src="/assets/product-zx9-speaker/mobile/image-gallery-3.jpg"
            alt=""
            class="rounded-lg"
          />
        </picture>
      </div>
    </section>
    <!-- May Also Like -->
    <section
      class="mx-6 mb-[7.5rem] flex flex-col gap-10 md:ml-[2.44rem] md:mr-10 md:gap-14 xl:mx-[10.31rem] xl:mb-40 xl:gap-16"
    >
      <!-- THE Title -->
      <div class="flex items-center justify-center text-center">
        <h2
          class="text-2xl font-bold uppercase leading-9 tracking-[0.05356rem] text-black md:text-[2rem] md:tracking-[0.07144rem]"
        >
          You may also like
        </h2>
      </div>
      <!-- The Products  -->
      <div
        class="flex flex-col items-center justify-center gap-14 md:flex-row md:justify-between md:gap-[0.69rem] xl:gap-[1.88rem]"
      >
        <!-- ZX7 SPEAKER -->
        <div class="flex flex-col gap-8 md:gap-10">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/assets/shared/desktop/image-zx7-speaker.jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="/assets/shared/tablet/image-zx7-speaker.jpg"
            />
            <img
              src="/assets/shared/mobile/image-zx7-speaker.jpg"
              alt="ZX7 SPEAKER"
              class=""
            />
          </picture>
          <div class="flex flex-col items-center justify-center gap-8">
            <h3
              class="text-2xl font-bold uppercase leading-normal tracking-[0.10713rem] text-black"
            >
              ZX7 SPEAKER
            </h3>
            <a
              href="/product-zx7-speaker"
              class="flex h-12 w-40 items-center justify-center bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-white transition-colors duration-300 ease-in hover:bg-[#FBAF85]"
              >See product</a
            >
          </div>
        </div>
        <!-- XX99 MARK I -->
        <div class="flex flex-col gap-8 md:gap-10">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/assets/shared/desktop/image-xx99-mark-one-headphones.jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="/assets/shared/tablet/image-xx99-mark-one-headphones.jpg"
            />
            <img
              src="/assets/shared/mobile/image-xx99-mark-one-headphones.jpg"
              alt="XX99 MARK I"
              class=""
            />
          </picture>
          <div class="flex flex-col items-center justify-center gap-8">
            <h3
              class="text-2xl font-bold uppercase leading-normal tracking-[0.10713rem] text-black"
            >
              XX99 MARK I
            </h3>
            <a
              href="/product-xx99-mark-one-headphones"
              class="flex h-12 w-40 items-center justify-center bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-white transition-colors duration-300 ease-in hover:bg-[#FBAF85]"
              >See product</a
            >
          </div>
        </div>
        <!-- XX59 -->
        <div class="flex flex-col gap-8 md:gap-10">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="/assets/shared/desktop/image-xx59-headphones.jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="/assets/shared/tablet/image-xx59-headphones.jpg"
            />
            <img
              src="/assets/shared/mobile/image-xx59-headphones.jpg"
              alt="XX59"
              class=""
            />
          </picture>
          <div class="flex flex-col items-center justify-center gap-8">
            <h3
              class="text-2xl font-bold uppercase leading-normal tracking-[0.10713rem] text-black"
            >
              XX59
            </h3>
            <a
              href="/product-xx59-headphones"
              class="flex h-12 w-40 items-center justify-center bg-[#D87D4A] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-white transition-colors duration-300 ease-in hover:bg-[#FBAF85]"
              >See product</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Line Of The Products -->
    <section
      class="mx-6 mb-[7.5rem] mt-40 flex flex-col items-center gap-[4.25rem] md:mb-24 md:ml-10 md:mr-[2.44rem] md:flex-row md:justify-between md:gap-[0.63rem] xl:mx-[10.31rem] xl:mb-[10.5rem] xl:gap-[1.88rem]"
    >
      <!-- Headphones -->
      <div
        class="relative flex h-[10.3125rem] w-[20.4375rem] flex-col items-center justify-center rounded-lg bg-[#F1F1F1] pb-[1.37rem] pt-[5.5rem] text-center md:w-[13.9375rem] xl:h-[12.75rem] xl:w-[21.875rem] xl:pt-[7.25rem]"
      >
        <img
          src="/assets/shared/desktop/image-category-thumbnail-headphones.png"
          alt=" Headphones"
          class="absolute top-[-3.5rem] w-40"
        />
        <h3
          class="mb-[1.06rem] text-[0.9375rem] font-bold leading-normal tracking-[0.06694rem] text-black xl:mb-[0.94rem] xl:text-lg"
        >
          Headphones
        </h3>
        <a
          href="/headphones"
          class="flex cursor-pointer items-center gap-[0.83rem] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-black/50 transition-colors duration-300 ease-in hover:text-[#D87D4A]"
          >Shop
          <img
            src="/assets/shared/desktop/icon-arrow-right.svg"
            alt="arrow"
            class=""
          />
        </a>
      </div>
      <!-- Speakers -->
      <div
        class="relative flex h-[10.3125rem] w-[20.4375rem] flex-col items-center justify-center rounded-lg bg-[#F1F1F1] pb-[1.37rem] pt-[5.5rem] text-center md:w-[13.9375rem] xl:h-[12.75rem] xl:w-[21.875rem] xl:pt-[7.25rem]"
      >
        <img
          src="/assets/shared/desktop/image-category-thumbnail-speakers.png"
          alt=" Speakers"
          class="absolute top-[-3.5rem] w-40"
        />
        <h3
          class="mb-[1.06rem] text-[0.9375rem] font-bold leading-normal tracking-[0.06694rem] text-black xl:mb-[0.94rem] xl:text-lg"
        >
          speakers
        </h3>
        <a
          href="/speakers"
          class="flex cursor-pointer items-center gap-[0.83rem] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-black/50 transition-colors duration-300 ease-in hover:text-[#D87D4A]"
          >Shop
          <img
            src="/assets/shared/desktop/icon-arrow-right.svg"
            alt="arrow"
            class=""
          />
        </a>
      </div>
      <!-- Earphones -->
      <div
        class="relative flex h-[10.3125rem] w-[20.4375rem] flex-col items-center justify-center rounded-lg bg-[#F1F1F1] pb-[1.37rem] pt-[5.5rem] text-center md:w-[13.9375rem] xl:h-[12.75rem] xl:w-[21.875rem] xl:pt-[7.25rem]"
      >
        <img
          src="/assets/shared/desktop/image-category-thumbnail-earphones.png"
          alt=" Earphones"
          class="absolute top-[-3.5rem] w-40"
        />
        <h3
          class="mb-[1.06rem] text-[0.9375rem] font-bold leading-normal tracking-[0.06694rem] text-black xl:mb-[0.94rem] xl:text-lg"
        >
          earphones
        </h3>
        <a
          href="/earphones"
          class="flex cursor-pointer items-center gap-[0.83rem] text-sm font-bold uppercase leading-normal tracking-[0.0625rem] text-black/50 transition-colors duration-300 ease-in hover:text-[#D87D4A]"
          >Shop
          <img
            src="/assets/shared/desktop/icon-arrow-right.svg"
            alt="arrow"
            class=""
          />
        </a>
      </div>
    </section>
    <!-- Best Audio Gear -->
    <BestAudioGear />
  </main>
  <!-- The Footer -->
  <Footer />
</Layout>

<script is:inline>
  const addToCart = document.getElementById("addToCart");
  const removeProduct = document.getElementById("removeProduct");
  const addProduct = document.getElementById("addProduct");
  const productCount = document.getElementById("productCount");
  addToCart.addEventListener("click", () => {
    window.location.href = "/checkout.html";
  });
  removeProduct.addEventListener("click", () => {
    productCount.innerHTML = parseInt(productCount.innerHTML) - 1;
  });
  addProduct.addEventListener("click", () => {
    productCount.innerHTML = parseInt(productCount.innerHTML) + 1;
  });
</script>
