---
import "@/styles/globals.css";
---

<section
  class="mx-6 mb-[7.5rem] flex flex-col items-center justify-center gap-8 md:mb-24 md:ml-[2.44rem] md:mr-10 md:gap-12 xl:mx-[10.31rem] xl:mb-48 xl:flex-row-reverse xl:justify-between"
>
  <picture>
    <source
      media="(min-width: 1440px)"
      srcset="/assets/shared/desktop/image-best-gear.jpg"
    />
    <source
      media="(min-width: 768px)"
      srcset="/assets/shared/tablet/image-best-gear.jpg"
    />
    <img
      src="/assets/shared/mobile/image-best-gear.jpg"
      alt="Photo of Person Wearing Headphones"
      class="rounded-lg object-cover"
    />
  </picture>
  <div
    class="flex flex-col items-center justify-center gap-8 text-center xl:items-start xl:text-left"
  >
    <h2
      class="w-[20.4375rem] text-[1.75rem] font-bold uppercase leading-normal tracking-[0.0625rem] text-black md:w-[35.8125rem] md:text-[2.5rem] md:leading-[2.75rem] md:tracking-[0.08931rem] xl:w-[27.8125rem]"
    >
      Bringing you the <span class="text-[#D87D4A]">best</span> audio gear
    </h2>
    <p
      class="w-[20.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-black/50 md:w-[35.8125rem] xl:w-[27.8125rem]"
    >
      Located at the heart of New York City, Audiophile is the premier store for
      high end headphones, earphones, speakers, and audio accessories. We have a
      large showroom and luxury demonstration rooms available for you to browse
      and experience a wide range of our products. Stop by our store to meet
      some of the fantastic people who make Audiophile the best place to buy
      your portable audio equipment.
    </p>
  </div>
</section>
